/* src/Footer.css */
.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li a p {
  list-style-type: none;
  padding: 20;
  font-weight: 500;
  margin-bottom: auto;
  
}

.footer-section ul li {
  margin: 10px 0;
  
}
.navig{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  
}

.footer-section ul li a:hover {
  text-decoration: underline;
  
}

.feedback-section {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  color: #fff;
}

.company-logo {
  width: 100px;
  margin-right: 20px;
  margin-bottom: auto;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.feedback-content p {
  margin-bottom: 10px;
}

.feedback-content form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: white;
  resize: none;
  color: #fff;
}

.feedback-content form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #777;
}

.feedback-content form button {
  background-color: #777;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-logo {
  width: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.navig {
  display: flex;
  gap: 0.00003px;
  margin-bottom: auto;
}

.navig a {
  color: #ffffff;
  /* margin: 0 30px; */
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navig a:hover {
  color: #f39c12;
}
