.aircraft-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  
}

* {
  box-sizing: border-box;
  
}

.aircraft-container header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(145deg, #3e3e3e, #666);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.aircraft-container .search-sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  width: 100%;
  gap: 1.5%;
}

.aircraft-container .search-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.aircraft-container .search-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;
  border: 1px solid #777;
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}

.aircraft-container.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.aircraft-container .search-sort-container select {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #777;
  background-color: #444;
  color: #fff;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
  width: 15%;
}

.aircraft-container .search-sort-container button {
  padding: 10px 15px;
  background-color: #b91ea5; /* Changed to green */
  border: none;
  border-radius: 10px;
  color: #fdfcfc;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 15%;
}

.aircraft-container .search-sort-container button:hover {
  background-color: #ffffff; /* Darker green on hover */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
  color: #ff00d0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebara {
  width: 20%;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  margin-right: 20px;
}

.filter-section {
  margin-bottom: 25px;
  border-bottom: 1px solid #555;
  padding-bottom: 15px;
}

.main-content .sidebara .filter-section h3 {
  margin-bottom: 10px;
  color: #e008d2; /* Changed to green */
  font-weight: bold;
}

.filter-section div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.filter-section input[type="radio"],
.filter-section input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.filter-section input[type="number"],
.filter-section input[type="text"],
.filter-section select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #777;
  border-radius: 10px;
  color: #fff;
}

.filter-section input[type="number"] {
  width: 25%;
  margin-left: 3%;
  height: 1%;
  margin-right: 3%;
}

.aircraft-card {
  border-radius: 20px;
  padding: 4%;
}

.aircraft-listing {
  flex: 1;
  padding: 3%;
  background-color: #0c000000;
  border-radius: 15px;
  box-shadow: 2px 0px 30px rgb(181, 7, 155);
  overflow-y: auto;
  scrollbar-width: none;
}

.aircraft-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.aircraft-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgb(230, 86, 220);
}

.aircraft-card img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: opacity 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.aircraft-card img:hover {
  opacity: 0.8;
}

.aircraft-card h2 {
  margin: 10px 0;
  color: #af4c99; /* Changed to green */
  font-size: 1.7em;
  font-weight: bold;
}

.aircraft-card p {
  margin: 5px 0;
  font-size: 150%;
}

button,
input[type="submit"],
.bttns-cart,
.bttns-buy {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #e945c8; /* Changed to green */
  color: #f7f8f9;
}

.aircraft- button:active,
input[type="submit"]:active,
.bttns-cart:active,
.bttns-buy:active {
  transform: scale(0.98);
  background-color: #ff0bca; /* Darker green on active */
  color: white;
}
