/* Styles for the background video */
.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Styles for the login and register pages */
.app-container .auth-form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 800px;
  height: auto;
  background-color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  padding: 2% 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-out;
}

.app-container .auth-form-container.login {
  width: 400px;
}

.app-container .auth-form-container:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.app-container .link-btn {
  background: none;
  color: #fff;
  text-decoration: underline;
  transition: color 0.5s ease-out;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.app-container .link-btn:hover {
  color: #ccc;
}

.app-container form {
  display: flex;
  flex-direction: column;
}

.app-container .register-layout {
  display: flex;
  flex-direction: row;
}

.app-container .image-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regis-image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.app-container .register-inputs {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-container .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 48%;
}

.app-container .input-group.full-width {
  width: 100%;
}

.app-container input, .app-container select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0px;
  background-color: #f4efef;
  color: #090000;
  font-size: 16px;
  transition: background-color 0.5s ease-out;
  width: 100%;
  height: 40px;
}

.app-container input:focus, .app-container select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(222, 215, 215, 0.2);
  background-color: #ffffff37;
}

.app-container button[type="submit"] {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  transition: background-color 0.5s ease-out;
  margin-top: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #333, #444);
  background-size: 100%;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-out;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.app-container:hover {
  background-position: 0% 0%;
}

.auth-heading {
  color: yellow;
  text-align: center;
  margin-bottom: 20px;
}

/* Specific styles for login input boxes */
.app-container .auth-form-container.login input {
  width: 200%; /* Adjust the width as needed */
}
